<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artcweb.dao.OrderDao">

	<resultMap type="com.artcweb.baen.Order" id="result">
		<result property="id" column="id" />
		<result property="mobile" column="mobile" />
		<result property="packageId" column="package_id" />
		<result property="currentStep" column="current_step" />
		<result property="sort" column="sort" />
		<result property="createDate" column="create_date" />
		<result property="updateDate" column="update_date" />
	</resultMap>


	<!--保存 -->
	<insert id="save" parameterType="com.artcweb.baen.Order">
		insert into
		order(mobile,package_id,current_step,sort,create_date,update_date)
		values(#{mobile},#{packageId}#{currentStep},#{sort},now(),now())
	</insert>

	<!--删除 -->
	<delete id="delete" parameterType="Integer">
		delete from
		order
		where id=#{id}
	</delete>

	<delete id="deleteByBatch" parameterType="String">
		delete from
		order
		where
		FIND_IN_SET (id,#{id})
	</delete>


	<!-- 修改 -->
	<update id="update" parameterType="com.artcweb.baen.Order">
		update order
		set
		mobile=#{mobile}
		,packageId=#{package_id}
		,step=#{step}
		,currentStep=#{current_step}
		,sort=#{sort}
		,update_date=now()
		where id=#{id}
	</update>

	<!-- 查找 -->
	<select id="get" parameterType="Integer" resultMap="result">
		select * from
		order
		where id = #{id}
		order by sort limit 1
	</select>
	
	
	<delete id="deleteByBatch" parameterType="String">
		delete from
		order
		where
		FIND_IN_SET (id,#{id})
	</delete>
	
	
	
	<!-- 分页查找 -->
	<select id="findByPage" parameterType="Map" resultMap="result">
		select id, category_id,category_name from
		admin_right_category
		where 1=1
		<if test="entity.categoryId != null and '' != entity.categoryId">
			and category_id=#{entity.categoryId}
		</if>
		<if test="entity.categoryName != null and '' != entity.categoryName">
			and category_name=#{entity.categoryName}
		</if>
		order by id desc limit ${page.begin},${page.limit} ;
	</select>

	<!-- 分页数量 -->
	<select id="findByPageCount" parameterType="Map" resultType="int">
		select count(1) category_name from
		admin_right_category
		where 1=1
		<if test="entity.categoryId != null and '' != entity.categoryId">
			and category_id=#{entity.categoryId}
		</if>
		<if test="entity.categoryName != null and '' != entity.categoryName">
			and category_name=#{entity.categoryName}
		</if>
	</select>
	


</mapper> 