<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artcweb.dao.OrderDao">

	<resultMap type="com.artcweb.baen.Order" id="result">
		<result property="id" column="id" />
		<result property="mobile" column="mobile" />
		<result property="packageId" column="package_id" />
		<result property="currentStep" column="current_step" />
		<result property="sort" column="sort" />
		<result property="createDate" column="create_date" />
		<result property="updateDate" column="update_date" />
	</resultMap>


	<!--保存 -->
	<insert id="save" parameterType="com.artcweb.baen.Order">
		insert into
		order(mobile,package_id,current_step,sort,create_date,update_date)
		values(#{mobile},#{packageId}#{currentStep},#{sort},now(),now())
	</insert>

	<!--删除 -->
	<delete id="delete" parameterType="Integer">
		delete from
		order
		where id=#{id}
	</delete>

	<delete id="deleteByBatch" parameterType="String">
		delete from
		order
		where
		FIND_IN_SET (id,#{id})
	</delete>


	<!-- 修改 -->
	<update id="update" parameterType="com.artcweb.baen.Order">
		update order
		set
		mobile=#{mobile}
		,package_id=#{packageId}
		,step=#{step}
		,current_step=#{currentStep}
		,sort=#{sort}
		,update_date=now()
		where
		id=#{id}
	</update>

	<!-- 查找 -->
	<select id="get" parameterType="Integer" resultMap="result">
		select * from
		order
		where id = #{id}
		order by sort limit 1
	</select>



	<!-- 查询 -->
	<select id="select" parameterType="Map" resultType="com.artcweb.baen.Order">
		SELECT u.id as id,o.id as orderId ,u.`mobile`,o.sort ,p.package_name
		as packageName,
		p.image_url as imageUrl ,p.step ,o.current_step as
		currentStep
		FROM `order` o,`user` u,pic_package p
		WHERE
		o.mobile=u.mobile AND o.package_id = p.package_id
		<if test="mobile!= null and '' != mobile">
			and o.mobile=#{mobile}
		</if>
	</select>


	<!-- 分页查找 -->
	<select id="findByPage" parameterType="Map" resultType="com.artcweb.baen.Order">
		SELECT u.id as id,o.id as orderId ,u.`mobile`,o.sort ,p.package_name
		as packageName,
		p.image_url as imageUrl ,p.step ,o.current_step as
		currentStep
		FROM `order` o,`user` u,pic_package p
		WHERE
		o.mobile=u.mobile AND o.package_id = p.package_id
		<if test="entity.mobile!= null and '' != entity.mobile">
			and o.mobile=#{entity.mobile}
		</if>
		ORDER BY o.sort limit ${page.begin},${page.limit} ;
	</select>

	<!-- 分页数量 -->
	<select id="findByPageCount" parameterType="Map" resultType="int">
		SELECT count(1) FROM `order` o,`user` u,pic_package p
		WHERE
		o.mobile=u.mobile AND o.package_id = p.package_id
		<if test="entity.mobile!= null and '' != entity.mobile">
			and o.mobile=#{entity.mobile}
		</if>
	</select>



	<!-- API分页查找 -->
	<select id="findPageByApi" parameterType="Map"
		resultType="com.artcweb.baen.Order">
		SELECT o.id as orderId ,o.sort ,p.package_name as packageName,
		p.image_url as imageUrl
		FROM `order` o,`user` u,pic_package p
		WHERE
		o.mobile=u.mobile AND o.package_id = p.package_id
		<if test="entity.mobile!= null and '' != entity.mobile">
			and o.mobile=#{entity.mobile}
		</if>
		ORDER BY o.sort limit ${page.begin},${page.limit} ;
	</select>

	<!-- API分页数量 -->
	<select id="findPageByApiCount" parameterType="Map" resultType="int">
		SELECT count(1) FROM `order` o,`user` u,pic_package p
		WHERE
		o.mobile=u.mobile AND o.package_id = p.package_id
		<if test="entity.mobile!= null and '' != entity.mobile">
			and o.mobile=#{entity.mobile}
		</if>
	</select>

	<!-- 获取订单详情 -->
	<select id="getOrderDetail" parameterType="Map"
		resultType="com.artcweb.baen.Order">
		SELECT u.id as id,o.id as orderId ,u.`mobile`,o.sort ,p.package_name
		as packageName,
		p.image_url as imageUrl ,p.step ,o.current_step as
		currentStep
		FROM `order` o,`user` u,pic_package p
		WHERE
		o.mobile=u.mobile AND o.package_id = p.package_id
		<if test="mobile != null and '' != mobile">
			and o.mobile=#{mobile}
		</if>
		<if test="orderId !=null and '' != orderId">
			and o.id=#{orderId}
		</if>
		LIMIT 1
	</select>
	
	
	<update id="updateCurrentStep" parameterType="Map">
		update `order`
		set current_step=#{currentStep}
		,update_date=now()
		where
		id=#{orderId}
	</update>
	


</mapper> 