<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artcweb.dao.UserDao">

	<resultMap type="com.artcweb.baen.User" id="userResult">
		<result property="id" column="id" />
		<result property="userName" column="user_name" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="vaild" column="vaild" />
		<result property="createDate" column="create_date" />
		<result property="updateDate" column="update_date" />
	</resultMap>


	<!--保存 -->
	<insert id="save" parameterType="com.artcweb.baen.User">
		insert into
		user(user_name,password,email,vaild,create_date,update_date)
		values(#{userName},#{password},#{email},#{vaild},now(),now())
	</insert>

	<!--删除 -->
	<delete id="delete" parameterType="Integer">
		delete from user
		where id=#{id}
	</delete>


	<!-- 修改 -->
	<update id="update" parameterType="com.artcweb.baen.User">
		update user
		<set>
			<if test="userName !=null and userName!='' ">
				user_name=#{userName},
			</if>
			<if test="password !=null and password!='' ">
				password=#{password},
			</if>
			<if test="email !=null and email'' ">
				email=#{email},
			</if>
			<if test="vaild !=null and vaild'' ">
				vaild=#{vaild},
			</if>
			update_date = now()
		</set>
		where id=#{id}
	</update>

	<!-- 查找 -->
	<select id="get" parameterType="Map" resultMap="userResult">
		select user_name,password,email,vaild,create_date,update_date from
		user 
		where 1=1
		<if test="userName != nul and '' != userName">
			and user_name=#{userName}
		</if>
		<if test="password !=null and ''!= password ">
			and password=#{password}
		</if>
		limit 1
	</select>



</mapper> 